 .post-max-height{
   max-height: 250px;
   min-height: 250px;
 }
 
 .post-price {
   top: 39px;
   right: 0px;
   padding: 3px 7px;
   position: absolute; 
  background: rgba(0,0,0,.50);
   border-radius: 0px 0px 0px 4px;
   z-index: 1000;
   font-weight: bold;
 }



 .post-badge{
  position: absolute;
  top: 50;
  left: 10;
  color: white;
  text-align: left;
  padding: 15px;
  z-index: 1000;
  font-size: 15px;
}

 .premium-badge{
  position: absolute;
  left: 0px;
  top: 38px;
  padding: 2px 6px;
  border-radius: 0px 0px 7px 0px;
  background-color: #c62a82;
}

 .nearby-city-post-badge{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px 0px 12px 15px;
  height: 32px;
  width: 100%;
  z-index: 100;
  color:yellow;
  background: linear-gradient(transparent 1%,#00000090 99%);
}

 .post-header{
   padding: 8px 10px 4px 10px;
 }

 .post-header table tbody tr td span{
  white-space: nowrap;
  overflow: hidden;
 }

 .post-footer{
  width: 100%;
  padding: 10px 10px 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  background: linear-gradient(transparent 1%,#00000090 99%);

  table tbody tr td{
    font-size: 18px;
  }
 }

 .col-xl-6 .thumbnail .post-footer table tbody tr td{
  font-size: 16px!important; 
}

 .thumbnail:hover .post-text,
 .thumbnail:hover .country-text {
   display: none;
 } 
  
 .premium-post-overlay {
   margin-top: 37px;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.45);
   top: 0;
   bottom: 0;
   left: 0;
   right: 0; 
 } 
   
 .premium-post-ad {
   text-align: center;
   color: yellow;
   font-size: 24px;
   margin-bottom: 10px;
 }

 .premium-post-login {
   text-align: center;
   cursor: pointer;
   margin-top: 15px;
   font-size: 14px;
 }

 @media screen and (max-width:1600px) {
  .post-max-height{
    height: 240px;
    max-height: 240px;
    min-height: 240px;
  }
}

@media screen and (min-width:1400px) { 
  .col-x1400-4{
    flex: 0 0 25%!important;
    max-width: 25%!important;
   }
  }   

 @media screen and (max-width:1400px) { 
  .pDestination, .col-xl-6 .thumbnail  .post-price {
    font-weight: normal!important;
  } 

  .col-x1400-4{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
   }

  .post-max-height{
    height: 215px;
    max-height: 215px;
    min-height: 215px;
  } 
 
 }


 
 @media screen and (max-width:1300px) {
  .post-max-height{
    height: 190px;
    max-height: 190px;
    min-height: 190px;
  } 
}


 @media screen and (max-width:1200px) {
  .post-max-height{
    height: 280px;
    max-height: 280px;
    min-height: 280px;
  }

   .see-premium-link{
    display:none;
   }
 
 }
 

 .regular-price {
   text-decoration: line-through;
   color: rgba(255, 255, 255, 0.9);
   margin-left: 5px;
   font-size: 13px;
 }

 .thumbnail {
   border-radius: 5px !important;
 }

 .pOrigin {
   text-align: left;
 }


 .pDestination {
   text-align: right;
 }

 .thumbnail:hover .post-price,  
 .thumbnail:hover .post-badge{
  display: none;
} 

 .city-price {
   color: yellow
 }

 .list-marked li:before {
   color: yellow !important;
 }

 ol,
 ul,
 dl {
   margin-bottom: -20px !important;
 }

 .cities-list li:hover a,
 .cities-list li:hover span,
 .cities-list li:hover:before {
   color: white !important;
 }


 .unlock-premium-button {
   padding: 8px 5px !important;
   text-transform: none !important;
   min-height: 35px;
 }

 .city-price:before {
   font-size: 14px;
 }
 
 
  
 
 @media screen and (max-width:992px) { //just 2 columns
  .post-max-height{
    height: 240px;
    max-height: 240px;
    min-height: 240px;
  }
 }

 .city-price-caption-header{
  position: absolute; 
  top: 15px;
  width: 80%;
  text-align: center;
  color: #42d4ec;
 }
