
 .auth-header {
    background: no-repeat url('../../styles/images/header.jpg') center; 
  }

  @media (min-width: 1200px){
    .cities-panel-container {
      max-width: 65%!important; 
  }
  }

  .cities-panel-container {
    margin-bottom: 0px!important;
  }


  .selected-city{
    margin-right: 15px;
    
    span{
      margin-left: 10px;
    position: absolute;
    top: 12px;
    right: 10px;
    }
  }

  .select-origin-tab-panel:after{
    width: auto!important; 
  }

 