.deal-header{
  height:80vh;
  background-size: 100% auto!important;
}

.details-header-title{
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 20vh;
  padding: 12px; 

  ul li{ 
    display: inline;
     margin-right: 60px; 

     a{ 
      color: white; 
      cursor:pointer;
     }
  }
}

//------- MOBILE STYLES

.mobile{
  .deal-header{
    height:20vh!important; 
  }

  .details-header-title{ 
    top: calc(20vh - 50px)!important; 
  }
}