
.centered{
  display:flex; 
  align-items:center;
  justify-content:center;
}

.centered-column{
  @extend .centered;
  flex-direction:column;
} 

@media (max-width: 876px) {
  .hide-on-tablet{
    display: none!important;
  }
}

.width100{
  width:100%!important;
}

.heigth100{
  height:100%!important;
}

.cursor-pointer{
  cursor: pointer;;
}

.h-margin-20{
  margin-left: 20%;
  margin-right: 20%;
}

.h-margin-20px{
  margin-left: 20px;
  margin-right: 20px;
}

.margin-top-3{ //To be used by icons
  margin-top: 3px!important;
}

.margin-top-10{ 
  margin-top: 10px!important;
}

.margin-right-10{ 
  margin-right: 10px!important;
}

.margin-left-10{ 
  margin-left: 10px!important;
} 

.margin-bottom-30{ 
  margin-bottom: 30px!important;
}



.page-header {
  height: 500px;
  width: 100%;
}

//Common Text Styles
.white-text, .white-text:before {
  color: white !important;
}

.yellow-text, .yellow-text:before {
  color: yellow !important;
}

.green-text{
  color: green !important;
}
.grey-text{
  color: grey !important;
}

.blue-text {
  color: #1f2746;
}

.black-text, .black-text span:before { 
  color: black!important;
}

.black-bold-text {
  font-weight: bold;
  color: black
}

.bold-text {
  font-weight: bold; 
}

.pink-text {
  color: #c62a82!important; 
} 

.bold-light-blue{
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  color: #22a9bf;
  text-align: left;
  cursor:pointer;
}

.font-weight-normal{
  font-weight: normal !important; 
} 

//Common Border Styles

.border-green{
  border: 1px solid green;
}

.border-pink{
  border: 1px solid #c62a82;
}

.border-grey{
  border: 1px solid grey;
}

.bck-text {
  background-color: #c62a82!important; 
} 

.float-left{
  float:left;
}

.float-right{
  float:right;
}


.thumbnail{
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.5)!important;
}

.yellow-button {
  background: linear-gradient(0deg,orange,yellow);
  background-color: orange;
  border-color: orange;
  color: maroon;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.8)!important;
}