.page-header {
  height: 500px;
  width: 100%;
}

.white-text {
  color: white !important;
}

.yellow-text {
  color: yellow !important;
}

.blue-text {
  color: #1f2746;
}

.black-text, .black-text span:before { 
  color: black!important;
}

.black-bold-text {
  font-weight: bold;
  color: black
}

.pink-text {
  color: "#c62a82"; 
} 

.font-weight-normal{
  font-weight: normal !important; 
} 
