 .page-header {
   background: no-repeat url('./images/background-05.jpg') center;
   height: 500px;
   width: 100%;
 }


 .row {
   border: 1px solid #B0DFE5;
   margin-top: 0px !important;
   border-radius: 8px;
 }


 .post-table {
   border-collapse: separate;
   border-spacing: 50px 0;
 }

 h5 .premium-header-desc {
   color: 'grey' !important;
   font-size: 15 !important;
   margin: 0px 20px 10px 20px;
 }

 h5 .premium-header-link {
   color: 'grey' !important;
 }

 .see-premium-link {
   color: grey, ;
   font-size: 15px;
   margin-left: 10px;
   cursor: pointer;
   text-decoration: underline;
 }
