.fsc-logo{
  float: left; 
  margin-top: 10px;
  font-family: Courgette, serif;
  font-size: 25px;
}

//LAPTOP styles
@media screen and (max-width:1600px) {
  .fsc-logo{ 
    padding-top: 5px;
    font-family: Courgette, serif;
    font-size: 22px;
  }
}

.rd-navbar--has-dropdown:hover ul {
   visibility: visible !important;
   opacity: 1 !important;
 }
 
 .basic-header{
   height: 70px; 
 }

 .nav-bck{
   background-color: rgba(0,0,0,0.3);
 }

 .dark-nav-link a, 
 .dark-nav-link .rd-navbar-submenu-toggle:before,
.dark-nav-link i:before{
  color: #1f2746!important;
  font-weight: bold!important;
 }

 .dark-nav-link:hover a, 
 .dark-nav-link:hover .rd-navbar-submenu-toggle:before,
 .dark-nav-link:hover i:before{
  color: white!important;
  font-weight: normal!important;
 }

 .nav-filter-button{
   border: 1px solid white;
   border-radius: 20px;

    span{
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    transition: .3s;
   }
}

.nav-filter-button a:before{

}

.rd-navbar-nav{
  padding-bottom: 18px;
}
