
@media (max-width: 900px) {
  .list-tickets .list-item .button {
    font-size: 10px !important;
  }

  .filter-button, .select-filter, .list-item-subtitle{
    display:none!important;
  }
}

@media (max-width: 1500px) {
  .list-tickets .list-item .button {
    font-size: 11px !important;
  }
}

@media (min-width: 768px) {
  .details-container {
    max-width: 90% !important;
  }

  .list-item-footer a {
    min-width: 100px !important;
    padding: 11px 5px !important;
  }
}


@media (min-width: 1400px) {
  .details-container {
    max-width: 80% !important;
  }
}  

.filter-button:hover {
  color: #42d4ec;
}

.filter-button icon {
  padding: 0px 5px;
}
